.cart-divarea{
    height:400px;
    width:400px;
    background-color: #66afe9;
    margin-top:30px;
    margin-right:40px;
    color:white;
}

.xyz{
    background-color: green;
}
.cart-amt{
    font-size: large;
    color:red;
}